:root {
    --el-color-primary: #2b4695;
    --el-color-success: #67c23a;
    --el-color-warning: #e6a23c;
    --el-color-danger: #f56c6c;
    --el-color-error: #f56c6c;
    --el-color-info: #909399;
    --font-color: #404a62;
  }



  .text-hide1{
    overflow: hidden;
    text-overflow:ellipsis; 
    white-space: nowrap;
  }

  .log_content_nor::-webkit-scrollbar {
    width: 0px; /*对垂直流动条有效*/
    height: 0px; /*对水平流动条有效*/
  }